body {
    font-family: 'Nunito', sans-serif;
    text-align: justify;
    margin: 0;
}


h1 {
    font-size: 50px;
}

.sk {
    color: yellowgreen;
}

.dev {
    font-weight: 700;
    font-style: italic;
}

.wrap {

    width: 50%;
    padding: 3%;
}

.wrap img {
    width: 90%;
}

.hire {
    text-decoration: none;
    background-image: linear-gradient(orange, purple);
    padding: 10px 40px;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 700;
}

.top-sec {
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}

.sec-container {
    display: flex;
}

.top2-sec {
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.exp-devlopment {
    width: 40%;
    padding-left: 20px;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
}

.exp-sec {
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.border1-color {
    border-left: 9px solid orchid;
}

.border-color {
    border-left: 9px solid blueviolet;
}

footer p {
    text-align: center;

}